body {
    margin: 0;
}

.timeline-scroll {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    overflow-y: scroll;
}

/* For Webkit browsers */
.timeline-scroll::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

.timeline-scroll::-webkit-scrollbar-thumb {
    background: transparent;
}

.timeline-scroll::-webkit-scrollbar-track {
    background: transparent;
}
